<browser-header></browser-header>
<div class="row">
  <div class="col-md-3">
    <div class="input-group search-box in-documents">
      <div class="input-group-addon"><i class="fa fa-fw fa-search"></i></div>
      <input type="text" class="form-control" ng-change="bc.findDocument()" ng-model="bc.searchQueryDoc" placeholder="Search document...">
    </div>
    <div class="stats">
      {{ bc.searchMessageDoc }}
    </div>
    <div class="documents-container">

      <documents-item ng-repeat="doc in bc.documents" on-click="bc.getDocument($index)" doc="doc" selected="bc.selected"></documents-item>

    </div>
  </div>
  <div class="col-md-9">
    <div ng-if="bc.document">
      <div class="row">
        <div class="col-md-12">
          <div class="title big" ng-bind="bc.document.meta.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="input-group search-box">
            <div class="input-group-addon"><i class="fa fa-fw fa-search"></i></div>
            <input type="text" class="form-control" ng-model="bc.searchQuery" ng-keydown="bc.findText($event)">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="bc.findText()">Find in text</button>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-results" ng-if="bc.searchMessage !== ''">
            <span ng-bind-html="bc.searchMessage"></span> <button ng-click="bc.resetSearch(true)" class="btn btn-link">Reset search</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-container">
            <div class="text" ng-bind-html="bc.document.text">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




