<div class="document" ng-click="$ctrl.onClick($index)" ng-class="$ctrl.doc.id === $ctrl.selected ? 'selected' : ''">
  <div ng-bind="$ctrl.doc.name" class="title"></div>
  <div class="meta">
    <span class="bar">size: {{ $ctrl.doc.size }}</span>
  </div>
</div>
