<div class="header">
  <div class="row">
      <div class="col-md-10">
        <div class="project">
          Document Browser
        </div>
      </div>
      <div class="col-md-2">
        <div class="signout">
          <button ng-click="$ctrl.logoutUser()" class="btn btn-sm btn-success">Sign Out <i class="fa fa-sign-out"></i></button>
        </div>
      </div>
  </div>
</div>
