<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="panel panel-default login" >
        <div class="panel-heading">
          <div class="panel-title text-center">Document Browser</div>
        </div>

        <div class="panel-body" >
          <form name="login" id="form">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="user" type="text" class="form-control" ng-model="user" placeholder="Login" ng-keydown="loginUser($event)">
            </div>

            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="password" class="form-control" ng-model="password" placeholder="Password" ng-keydown="loginUser($event)">
            </div>

            <div class="form-group">
              <div ng-if="message" class="col-sm-12">
                <div class="alert alert-danger">
                  <i class="fa fa-exclamation-triangle"></i> {{ $parent.message}}
                </div>
              </div>
              <div class="col-sm-12 controls">
                <button type="button" ng-click="loginUser()" class="btn btn-primary pull-right">Sign In <i class="fa fa-fw fa-sign-in"></i></button>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
