@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700&subset=latin,cyrillic);

$dark: #0D4A58;
$lite: lighten($dark, 20%);

.shadow {
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
}

#form {
  div {
    margin-bottom: 15px;
  }
  .controls {
    margin: 0;
    padding: 0;
  }
}

.login {
  margin-top: 50px;
}

.header {
  background-color: $dark;
  color: #fff;
}

.project {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 600;
}

.signout {
  text-align: right;
  padding: 5px 10px;
}

.stats {
  text-align: center;
  color: #fff;
  background-color: $lite;
  font-size: 1em;
  padding: 6px;
}

.documents-container {
  margin: 0 !important;
  width: 100%;
  height: calc(100vh - 155px);
  padding: 10px;
  border-right: 1px solid #e2e2e2;
  overflow-y: scroll;
}

.document {
  @extend .shadow;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #e2e2e2;
  width: 100%;
  cursor: pointer;
  .title {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .meta {
    margin-top: 5px;
    text-align: right;
    font-size: 0.8em;
    .bar {
      border-top: 1px solid $lite;
    }
  }
}

.selected {
  background-color: #e2e2e2;
}

.big {
  font-size: 1.7em;
  padding: 10px 0;
}

.text-container {
  height: calc(100vh - 165px);
  overflow-y: scroll;

}

.text {
  padding-right: 20px;
}

.query {
  color: #333;
  background-color: #0f0;
  padding: 2px 3px;
  border-radius: 3px;
}

.search-box {
  padding: 0 0 10px 0;
}

.in-documents {
  padding: 10px;
  border-right: 1px solid #e2e2e2;
}

.search-results {
  padding: 3px 0;
}
